* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-weight: 100;
}

.section {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
}

.dark {
  background-color: #1F2937;
}

.header {
  color: #F9FAF8;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.links {
  display: flex;

}

.one h1 {
  font-size: 48px;
  font-weight: 700;
  color: #F9FAF8;
  margin: 0;
}

.one .container {
  padding-right: 40px;
}

.section.one {
  padding-top: 70px;
}

.one img {
  width: 60vh;
  height: auto;
  margin-bottom: 90px;
}

.one .container, .one, img {
  flex-basis: 50%;
}

.one p {
  color: #E5E7EB;
  font-size: 18px;
  margin: 0;
}

.two {
  flex-direction: column;
  justify-content: center;
}

.two h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-top: 15px;
}

.row {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.row img {
  height: 100px;
  width: auto;
  border: #3882F6 4px solid;
  border-radius: 15px;
}

.img-subtext {
  padding: 5px;
}

.row .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.section.three {
  background-color: #E5E7EB;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.author {
  text-align: right;
  padding-right: 50px;
  font-weight: 700;
  font-size: 24px;
}

.four .container {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px 50px 50px 70px;
}

.four {
  margin-top: 80px;
  margin-bottom: 80px;
}

.action p, h4 {
  margin: 0;
  color: #E5E7EB;
}

.action h4 {
  font-size: 20px;
}

button.action {
  border: 2px solid #F9FAF8;
  color: #F9FAF8;
  border-radius: 8px;
  background-color:#3882F6;
  padding: 5px 20px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: 100;
  margin: 0px;

}

li {
  list-style: none;
  margin: 15px

}

ul {
  margin: 0%;
}

h3 {
  margin: 0px;
}

.footer {
  justify-content: center;
  color: #E5E7EB;
  padding: 30px;
  font-weight: 500;
}

.one button {
  background-color: #3882F6;
  border-color: #3882F6;
  border-radius: 4px;
  color: #E5E7EB;
  border-style: none;
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 16px;
}